extends mainpage

block content

  //- Title Area
  div(class='text-center')
    h1=scoreboardTitle
    
    table(class='table mt-4')
      thead(class='thead-dark')
        tr
          th(scope='col') #
          th(scope='col') Name
          th(scope='col') Team
          th(scope='col')=scoreLabel
      tbody
        if teams.length != 0
          each team, index in teams 
            tr(class='score-row')
              th(scope='row')= index + 1
              td= team.name
              td= team.id 
              td= team.score
        else 
          tr(class='score-row')
            th(scope='row')= '---'
            td= '---'
            td= '---'
            td= '---'
    
    div(class='text-secondary mt-4')
      div(class='social-icon-bar'): a(href='https://github.com/PSASchool/PreCDC-Scoreboard-Node', style='color: black', title='See the project on Github'): i(class='fab fa-github')
      div © 2021 David Bootle
  
  script(src="/socket.io/socket.io.js")
  script(src="/javascripts/socketutils.js")
  script(nonce=nonce).
    var socket = io()
    addLogoffListener(socket);
    addScoreboardListener(socket);