extends mainpage 

block content

    script(src='/javascripts/formutils.js')
    script(src='/javascripts/teams.js')

    table(class='table mt-4 mb-4')
        thead(class='thead-dark')
            tr
                th(scope='col', class='col-1') #
                th(scope='col', class='col-1') Team
                th(scope='col', class='col-4') Name
                th(scope='col', class='col-3')=scoreLabel
                th(scope='col', class='col-2') Password
                th(scope='col', class='col-1'): a(href='/teams/newteam', title="New Team", class='text-primary new-team-button'): i(class="fas fa-plus")
        tbody
            if teams.length != 0
                each team, index in teams 
                    tr(class='score-row')
                        th(scope='row', class='col-1')= index + 1
                        td(class='col-1')= team.id
                        td(class='col-4')= team.name 
                        td(class='col-3')= team.score
                        td(class='col-2'): code= team.password
                        td(class='col-1')
                            a(href='/teams/changescore?id=' + encodeURIComponent(team.id), class='scoreboard-button text-info', title="Change Score"): i(class='fas fa-coins')
                            a(href='/teams/editteam?id=' + encodeURIComponent(team.id), class='scoreboard-button text-warning', title="Edit Team Info"): i(class="fas fa-edit")
                            button(data-team-id=team.id, class="scoreboard-button text-danger delete-team", title="Delete Team"): i(class="fas fa-trash")
            else
                tr(class='score-row')
                    th(scope='row', class='col-1')= '---'
                    td(class='col-1')= '---'
                    td(class='col-4')= '---'
                    td(class='col-3')= '---'
                    td(class='col-2')= '---'
                    td(class='col-1')
    
    script(src="/socket.io/socket.io.js")
    script(src="/javascripts/socketutils.js")
    script(nonce=nonce).
        var confirmDelete = #{confirm};

        $('button.delete-team').on('click', function () {
            var id = $(this).data('team-id');
            removeTeam(id, confirmDelete);
        });

    script(nonce=nonce).
        var socket = io()
        addLogoffListener(socket);
        addScoreboardListener(socket);